html,
body {
    height: 100%;
    background: #FFFFFF;
    background: -webkit-linear-gradient(top, #FFFFFF, #74619E);
    background: -moz-linear-gradient(top, #FFFFFF, #74619E);
    background: linear-gradient(to bottom, #FFFFFF, #74619E);
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    font-weight: bold;
    font-family: "Arial", serif;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-weight: bolder;
    font-family: "Arial", serif;
    font-size: 40px;
}

h3 {
    text-align: center;
    font-weight: bolder;
    font-family: "Arial", serif;
    font-size: 20px;
}

h4 {
    text-align: left;
    font-family: "Arial", serif;
    font-size: 20px;
    color: #b5b8b1;
}

table {
    width: 100%
}

.label-question {
    text-align: left;
    font-family: "Arial", sans-serif;
    font-size: 20px;
}

.navbar-container {
    padding: 10px;

}

.classic-container {
    padding: 10px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
}

.form-group {
    padding: 5px;
    margin: 5px auto;
}

.default-label {
    font-family: "Arial", serif;
    font-size: 14px;
    display: block;
}

.upper-decoration {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom-decoration {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.color-div {
    width: 300px;
    height: 300px;
    margin: auto;
}

.form-child {
    margin: 2px auto;
}

.message-block {
    overflow: auto;
    margin-bottom: 15px;
    height: 400px;
    border-radius: 6px;
    border-color: grey;
    background: white;
    padding: 10px;
}

.content {
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    flex: 0 0 auto;
}

h2.text-by-left {
    text-align: left;
}

by-right-side {
    text-align: right;
}

.nowrap {
    display: inline;
}

.navbar-title {
    text-align: left;
    font-weight: bold;
    font-family: "Arial", serif;
    font-size: 40px;
}

.navbar-group {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(251, 251, 251);
}

.hover-a {
    text-decoration: none;
}

.hover-a:hover {
    text-decoration-line: underline;
}


.small-picture {
    height: 60px;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;

}

.message-card {
    font-size: 20px;
    text-align: left;
}

.user-name-card {
    text-align: left;
    font-size: 20px;
}

.very-small-picture {
    margin-right: 15px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.error-pic {
    margin: auto;
    height: 600px;
}

.profile-box {
    background-color: #c8c8c8;
    padding: 3px;
    margin: 3px;
}

.info-box {
    border-radius: 10px;
    height: 70px;
    width: auto;
}

xmp {
    text-font: Arial;
    text-size: 14px;
}


.add-question-block {
    margin-top: 15px;
}

.edit-question {
    margin-top: 5px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}