{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="card" style="background-color: white;">
                    <div class="card-body">
                        <div class="card-title fw-bold">
                            Что такое API-ключ?
                        </div>
                        <div class="card-text text-body-secondary">API ключ (Application Programming
                            Interface ключ) -
                            это уникальный идентификатор, который используется для авторизации
                            запросов к API сервису.
                            Он позволяет разработчикам и пользователям доступиться к
                            функциональности API,
                            используя определенные методы и параметры.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="d-grid gap-2">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseApikey"
                       role="button"
                       aria-expanded="false"
                       aria-controls="collapseApikey">
                        Узнать свой Api-ключ
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="collapse" id="collapseApikey">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col user-select-all text-muted text-monospace">
                                {{ apikey }}
                            </div>
                            <div class="col">
                                {{ form.hidden_tag() }}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    {{ form.change(class="btn btn-primary") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 form-group">
        <a class="btn btn-secondary"
           data-bs-toggle="collapse"
           href="#collapseDocumentation"
           role="button"
           aria-expanded="false"
           aria-controls="collapseDocumentation">
            Руководство по использованию API
        </a>
    </div>
    <div class="collapse form-group" id="collapseDocumentation">
        <div class="card card-body">
            <h3 class="card-title">Руководство по использованию API</h3>

            <div class="row" style="margin: 10px 0px;">
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Для чего нужен наш API-сервис?</h4>
                        <p class="card-text">API сервиса Edy.boost предоставляет возможность учителям автоматизировать
                            процессы
                            работы с группами учеников, выдачи тестов и импорта тестов в удобные для работы форматы
                            (.json,
                            .docx)</p>
                    </div>
                </div>

                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Для кого доступен API?</h4>
                        <p class="card-text">На данный момент API доступен для пользователей, указавших при регистрации роль "Учитель".
                        Для таких пользователей API доступен в рамках их доступа (т. е. в рамках групп, которые они создали)</p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h4 class="card-title fw-bold">Работа с группами</h4>
                <p class="card-text">Работа с группами происходит по адресу .../api/groups. Разберем примеры запросов</p>
                <div class="card card-body bg-secondary-subtle">
                    <div class="fw-bold">GET-запрос</div>
                    <div class="font-monospace">https://online.edu/api/groups</div>
                </div>
            </div>

        </div>
    </div>
</form>


{% endblock %}