<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
{% block header_group_navbar %}

{% endblock %}
<div class="wrapper">
    <header>
        <div class="navbar-container bg-light bottom-decoration">
            <nav class="navbar navbar-expand-sm bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold hover-a" style="color: black" href="/">Edu.boost</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if current_user.is_authenticated %}
                            {% if current_user.user_type == "student" %}
                            <li class="nav-item">
                                <a class="nav-link active hover-link hover-a" style="color: black"
                                   href="{{ url_for('chat') }}">Группы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active hover-link hover-a" style="color: black"
                                       href="{{ url_for('works_review') }}">Задания</a>
                            </li>
                            {% elif current_user.user_type == "teacher" %}
                            <li class="nav-item">
                                <a class="nav-link active hover-link hover-a" style="color: black"
                                   href="{{ url_for('chat') }}">Группы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active hover-link hover-a" style="color: black"
                                   href="{{ url_for('groups_creating') }}">Создать группу</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active hover-link hover-a" style="color: black"
                                   href="{{ url_for('create_works') }}">Создать тест</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active hover-link hover-a" style="color: black"
                                   href="{{ url_for('works_review') }}">Задания</a>
                            </li>
                            <!-- Что то еще я не придумал !-->
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="d-flex">
                        {% if current_user.is_authenticated %}
                        {% block invites_to_group %}

                        {% endblock %}
                        <div class="btn-group dropstart">
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                {{ current_user.first_name }} {{ current_user.second_name }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('profile') }}">Личный кабинет</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('chat') }}">Чат</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ url_for('apikey_show', user_id=current_user.id) }}">Ключ для
                                    API-доступа</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="btn-toolbar mb-3" role="toolbar">
                            <div class="btn-group me-2" role="group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('login') }}">Войти</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                   href="{{ url_for('registration') }}">Зарегистрироваться</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="container-fluid flex-grow-1 content">
        <div class="shadow classic-container bg-light upper-decoration">
            {% block content %}

            {% endblock %}
            {% block error %}

            {% endblock %}
        </div>
    </main>

    <footer class="footer p-3 bg-dark">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='img/telegram-icon.png') }}" class="footer-icon">
                <a class="hover-a text-center fs-6" style="margin-bottom: 0px; color: grey"
                   href="https://t.me/chaychus">Мерескин Евгений</a>
                <a class="hover-a text-center fs-6" style="margin-bottom: 0px; color: grey"
                   href="https://t.me/xterno_tg">Карнажицкий Максим</a>
            </div>
            <div class="col">
                <p class="text-center fs-6" style="margin-bottom: 0px; color: grey">copyright: 2023</p>
            </div>
        </div>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
{% block chat_script %}

{% endblock %}

{% block register_script %}

{% endblock %}
</body>
</html>