{% extends "base.html" %}

{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email(class="form-control form-child bottom-decoration", placeholder=form.email.label.text) }}
            {% for error in form.email.errors %}
                <p class="alert alert-danger align-center" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            {{ form.password(class="form-control form-child upper-decoration", placeholder=form.password.label.text) }}
            {% for error in form.password.errors %}
                <p class="alert alert-danger align-center" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <div class="input-group">
                {{ form.first_name(class="form-control form-child", placeholder=form.first_name.label.text) }}
                {{ form.second_name(class="form-control form-child", placeholder=form.second_name.label.text) }}
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="radio" class="form-check-input" name="teacher-button" id="teacher-button"
                       onclick="switchRadioChoiceToTeacher()" checked>
                <label for="teacher-button" class="form-check-label">Учитель</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="student-button" id="student-button"
                       onclick="switchRadioChoiceToStudent()">
                <label for="student-button" class="form-check-label">Ученик</label>
            </div>
        </div>
        <div class="form-group" id="enter-code" hidden>
            <div>
                <a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#inviteCollapse" role="button"
                   aria-expanded="false" aria-controls="inviteCollapse">
                    Вступить в группу по пригласительному коду
                </a>
            </div>
            <div class="collapse form-group" id="inviteCollapse">
                <div class="card card-body">
                    {{ form.invite_code(class="form-control form-child", placeholder=form.invite_code.label.text) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <div class="form-group">
            {% if message %}
                <div class="alert alert-dark form-child">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block register_script %}

<script defer>
    var teacher_button = document.getElementById('teacher-button');
    var student_button = document.getElementById('student-button');
    var enter_code_pole = document.getElementById('enter-code');

    function switchRadioChoiceToTeacher() {
        teacher_button.checked = true;
        student_button.checked = false;
        enter_code_pole.hidden = true;
    };

    function switchRadioChoiceToStudent() {
        teacher_button.checked = false;
        student_button.checked = true;
        enter_code_pole.hidden = false;
    };

</script>

{% endblock %}