{% extends "base.html" %}

{% block content %}

<form class="row g-3" method="post" action="">

    {{ change_work_form.hidden_tag() }}

    <div class="col-auto">
        {{ change_work_form.name(class="form-control", value=work_name) }}
    </div>
    <div class="col-auto">
        {{ change_work_form.deadline(class="form-control", placeholder="Дата сдачи", value=deadline) }}
    </div>
    <div class="col-auto">
        {{ change_work_form.submit(class="btn btn-secondary mb-3") }}
    </div>
    <div class="col" style="text-align: right; font-size: 25px">
        <p>Баллы: {{ max_points }}</p>
    </div>
</form>

<div class="questions">
    {% if questions %}
    {% for question in questions %}
    <div class="card edit-question">
        <div class="card-body">
            <form action="" method="post">
                {{ edit_question.hidden_tag() }}
                <div>
                    {{ edit_question.title.label }}
                    {{ edit_question.title(class="form-control", value=question.header) }}
                </div>
                <div style="margin-top: 5px;">
                    {{ edit_question.text.label }}
                    {{ edit_question.text(class="form-control", value=question.text) }}
                </div>
                <div style="margin-top: 5px;">
                    {{ edit_question.correct_answer.label }}
                    {{ edit_question.correct_answer(class="form-control", value=question.correct_answer) }}
                </div>
                <div class="col">
                    {{ edit_question.points.label }}
                    {{ edit_question.points(class="form-control", placeholder="Баллы", value=question.points) }}
                </div>
                <div style="margin-top: 10px;" align="right">
                    {{ edit_question.delete(class="btn btn-danger") }}
                    {{ edit_question.submit(class="btn btn-secondary") }}
                </div>
                {{ edit_question.question_id(hidden=True, value=question.id) }}
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
        <div class="card-body">
            <h5>Добавьте в свой тест вопросы</h5>
        </div>
    </div>
    {% endif %}
</div>

<div class="add-question-block">
    <div class="row">
        <button type="button" class="btn btn-success col-auto" style="margin-left: 12px" data-bs-toggle="modal"
                data-bs-target="#QuestionModal">
            Добавить вопрос
        </button>
        <div class="col">
            <form action="" method="post">
                {{ publish_work_form.hidden_tag() }}
                <div align="right">
                    {% if work_is_published %}
                    {{ publish_work_form.submit(class="btn btn-warning", value="Снять с публикации") }}
                    {% else %}
                    {{ publish_work_form.submit(class="btn btn-warning") }}
                    {% endif %}
                    {{ publish_work_form.work_id(hidden=True, value=work_id) }}
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="QuestionModal" tabindex="-1" aria-labelledby="QuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form action="" method="post">
                {{ create_question_form.hidden_tag() }}
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="QuestionModalLabel">Новый вопрос</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Заголовок</span>
                                {{ create_question_form.title(class="form-control", aria_label="Sizing example input",
                                aria_describedby="inputGroup-sizing-default") }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Вопрос</span>
                                {{ create_question_form.text(class="form-control", aria_label="Sizing example input",
                                aria_describedby="inputGroup-sizing-default") }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Правильный ответ</span>
                                {{ create_question_form.correct_answer(class="form-control", aria_label="Sizing example
                                input", aria_describedby="inputGroup-sizing-default") }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Баллы за вопрос</span>
                                {{ create_question_form.points(class="form-control", aria_label="Sizing example
                                input", aria_describedby="inputGroup-sizing-default") }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        {{ create_question_form.submit(class="btn btn-success") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}