{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name(class="form-control", placeholder="Введите название теста") }}
        {% for error in form.name.errors %}
        <p class="alert alert-danger align-center" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.info(class="form-control", placeholder="Информация о работе") }}
        {% for error in form.info.errors %}
        <p class="alert alert-danger align-center" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="row form-group">
        <div class="col" style="padding-left: 0px">
            {{ form.time.label }}
            {{ form.time(class="form-control", placeholder="Время выполнения") }}
            {% for error in form.time.errors %}
            <p class="alert alert-danger align-center" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </div>
        <div class="col" style="padding-right: 0px">
            {{ form.deadline.label }}
            {{ form.deadline(class="form-control", placeholder="Дата сдачи") }}
            {% for error in form.deadline.errors %}
            <p class="alert alert-danger align-center" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </div>
    </div>
    {{ form.group.label }}
    {{ form.group(class="form-select") }}
    <div class="form-group">
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>
{% endblock %}